<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carlos Carmo</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>

<body>
    <i class="bi bi-list menu-mobile"></i>

    <aside id='header'>
        <section class="profile">
            <img src="../static/img/carlinhos_menor.jpg" alt="Foto do Desenvolvedor Carlos Henrique">
            <h1>Carlos Carmo</h1>
            <div class="social-links mt-4 text-center">
                <a target="_blank" href="https://www.linkedin.com/in/carloshenris/" class="href"><i
                        class="bi bi-linkedin"></i></a>
                <a target="_blank" href="https://github.com/ccarmo/" class="href"><i class="bi bi-github"></i></a>
            </div>
            <section>
                <nav id="navbar" class="nav-menu">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#inicio"> <i class="bi bi-house"> </i>Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#sobre"><i class="bi bi-person"> </i>Sobre mim</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="bi bi-list-check"> </i>Habilidades</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="bi bi-book"> </i>Currículo</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="bi bi-bookmark-check"> </i>Certificações</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="bi bi-briefcase"> </i>Portifólio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="bi bi-star"> </i>O que me motiva</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="bi bi-envelope"> </i>Contatos</a>
                        </li>
                    </ul>


                </nav>


            </section>
        </section>



    </aside>
    
    <main id="main">
        <section id="inicio" class="row m-0 p-0">
            <div class="col-md-5">
            </div>
            <div class="col-md-7 d-flex justify-content-center align-items-center flex-column">
                <h2 class="text-white text-shadow">Carlos Carmo</h2>
                <span id="subtitle" class="text-white text-shadow">Desenvolvedor Web e Professor</span>
                <div id="arraste" class="d-flex align-items-center p-2">
                   <i class="bi bi-arrow-down text-white pe-2 fs-2" aria-hidden="true"></i>
                   <a href="#sobre">Quem sou eu?</a>
                </div>
            </div>
        </section>

        <section id="sobre" class="container mt-3">
            <div class="row w-100">
                <div class="col-md-12">
                    <h2 class="pt-3">Sobre</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sed bibendum neque. 
                        Curabitur accumsan odio in felis facilisis, vitae venenatis tortor pretium. 
                        Aliquam condimentum, tellus eget tincidunt lacinia, massa augue mollis sem, 
                        eget aliquet tellus justo ac purus. Nulla facilisi. 
                        Vestibulum a vehicula quam, ut vehicula justo. 
                        Nam est turpis, iaculis id lacus eu, lobortis finibus purus. Etiam rutrum varius varius. 
                        Nulla quis consectetur mi, sed egestas neque. Suspendisse gravida molestie tortor id sagittis. 
                        non justo mattis, eget pretium mi eleifend.
                    </p>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-4 mt-3">
                    <img class="img-fluid" src="../static/img/carlinhos_maior.JPG" alt="Foto Carlos Carmo">
                </div>
                <div class="col-md-8 mt-3">
                    <h3>Desenvolvedor Web</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sed bibendum neque. 
                        Curabitur accumsan odio in felis facilisis, vitae venenatis tortor pretium. 
                        Aliquam condimentum,
                    </p>
                    <div class="row">
                        <div class="col-md-10">
                            <ul class="list-group list-group-flush fs-5">
                                <li class="list-group-item">Niver:  <span class="fw-lighter"> 10 de agosto de 1993 </span></li>
                                <li class="list-group-item">Idade:  <span class="fw-lighter">28 anos</span></li>
                                <li class="list-group-item">Cidade: <span class="fw-lighter">São Paulo</span></li>
                                <li class="list-group-item">Estado: <span class="fw-lighter">São Paulo</span></li>
                                <li class="list-group-item">Experiência: <span class="fw-lighter" >2 anos</span></li>
                                <li class="list-group-item">Perfil:      <span class="fw-lighter">Back-end</span></li>
                                <li class="list-group-item">Graduação:   <span class="fw-lighter">Ciências e Tecnologia (Universidade Federal do ABC)</span></li>
                              </ul>
                        </div>
                    </div>
                </div>

            </div>
           
        </section>
           
    </main>
        <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="../static/script.js"></script>
</body>

</html>