<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carlos Carmo</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>

<body>
    <i class="bi bi-list menu-mobile"></i>

    <aside id='header'>
        <section class="profile">
            <img src="../static/img/carlinhos_menor.jpg" alt="Foto do Desenvolvedor Carlos Henrique">
            <h1>Carlos Carmo</h1>
            <div class="social-links mt-4 text-center">
                <a target="_blank" href="https://www.linkedin.com/in/carloshenris/" class="href"><i
                        class="bi bi-linkedin"></i></a>
                <a target="_blank" href="https://github.com/ccarmo/" class="href"><i class="bi bi-github"></i></a>
            </div>
            <section>
                <nav id="navbar" class="nav-menu">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#"> <i class="bi bi-house"> </i>Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="bi bi-person"> </i>Sobre mim</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="bi bi-list-check"> </i>Habilidades</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="bi bi-book"> </i>Curriculo</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="bi bi-bookmark-check"> </i>Certificações</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="bi bi-briefcase"> </i>Portifólio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="bi bi-star"> </i>O que me motiva</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="bi bi-envelope"> </i>Contatos</a>
                        </li>
                    </ul>


                </nav>


            </section>
        </section>



    </aside>
    
    <main id="main">
        <section id="inicio" class="row m-0 p-0">
            <div class="col-md-5">
            </div>
            <div class="col-md-7 d-flex justify-content-center align-items-center flex-column">
                <h2 class="text-white text-shadow">Carlos Carmo</h2>
                <span id="subtitle" class="text-white text-shadow">Desenvolvedor Web e Professor</span>
                <div id="arraste" class="d-flex align-items-center p-2">
                   <i class="bi bi-arrow-down text-white pe-2 fs-2" aria-hidden="true"></i>
                   <a href="">Quem sou eu?</a>
                </div>
            </div>

        </section>
           
    </main>
        <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="../static/script.js"></script>
</body>

</html>